<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrjHikariwoAnim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PrjHikariwoAnim.Properties.Settings>
            <setting name="Location_FormMain" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location_FormAttribute" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location_FormControl" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location_FormImageCut" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location_FormImageList" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BackColor_ColorBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackColor_ColorGrid" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="BackColor_ColorCross" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Checked_DrawGird" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_DrawCross" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Value_WidthGrid" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Checked_GridSnap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_ImageList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_Control" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_Attribute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_CellList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormRateGraph_BackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormRateGraph_GraphColor" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="FormRateGraph_DrawGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormRateGraph_ColorGrid" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="FormRateGraph_LineColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="FormRateGraph_ColorCurrent" serializeAs="String">
                <value>Red</value>
            </setting>
        </PrjHikariwoAnim.Properties.Settings>
    </userSettings>
</configuration>
