<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrjHikariwoAnim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PrjHikariwoAnim.Properties.Settings>
            <setting name="Checked_DrawGird" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_DrawCross" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Value_WidthGrid" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Checked_GridSnap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_ImageList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_Control" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_Attribute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Checked_CellList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastImageDirectory" serializeAs="String">
                <value />
            </setting>
        </PrjHikariwoAnim.Properties.Settings>
    </userSettings>
</configuration>
